* {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

img {
    margin: 20px;
    width: 1200px;
    height: 600px;
    margin-left: 80px;
    
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    display:inline-block;
    overflow-x: hidden


}        
#container-imagem {
    *position: absolute;
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('imagens/background-igreja-santa-rita2.jpg');
    background-size: cover;
    opacity: 0.6;
    margin-bottom: 20px
}

#cadastro {
    position: fixed;
    margin-right: 1px;
    right: 5px;
    bottom: 4px;
    right: 5px;
    /*height: 50px;*/
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 12pt;
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


iframe {
    position: absolute;
    top: 160px;
    left: 400px;
 
 
 }

.texto {
    position: absolute;
    top: 30px;
    left: 190px ;
    color: rgb(253, 253, 253);
    font-size: 45pt;
    background-color: rgb(238, 13, 13);
    opacity: 0.;
    padding: 10px;
    font-weight: bolder;
    
}

.texto2 {
    position: absolute;
    top: 500px;
    left: 100px;
    color: rgb(253, 253, 253);
    font-size: 30pt;
    background-color: rgb(238, 13, 13);
    opacity: 0.9;
    padding: 10px;
    
}

.texto3 {
    position: absolute;
    top: 500px;
    left: 650px;
    color: rgb(253, 253, 253);
    font-size: 30pt;
    background-color: rgb(238, 13, 13);
    opacity: 0.9;
    padding: 10px;
}

.texto4 {
    position: absolute;
    top: 500px;
    left: 240px;
    color: rgb(253, 253, 253);
    font-size: 31pt;
    background-color: rgb(238, 13, 13);
    opacity: 0.9;
    padding: 10px;

}

/*
div:hover {
    background-color: rgb(45, 219, 10);
}
*/

@media only screen and (max-width:500px) {
    .texto {
        font-size: 20pt; 
        left: 2px;
        margin: 5px;
    }

    iframe {
        left: 5px;
        width: 400px;
    }
    
    .texto2 {
        left: 5px;
        font-size: 20pt;
    }
    
    .texto3 {
        top: 555px;
        left: 5px;
        font-size: 17pt;
    }

    .texto4 {
        top: 605px;
        left: 5px;

    }

    img {
        margin: 10px;
        width: 600px;
        height: 300px;
        margin-left: 5px;

    }

    #cadastro {
        position: fixed;
        margin-left: 1px;
        right: 1px;
        bottom: 1px;
        left: 0px;
        padding: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 14pt;
        width: 120px;        
    }

}